@font-face {
    font-family: "TheOfficeFont";
    src: url(../font/AmericanTypewriterRegular.ttf) format("truetype");
}
html{
    height: 100%;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    height: 100%;
    min-height: 870px;
   font-family: "TheOfficeFont";
   text-shadow: 2px 2px 5px white;
   background-image: url("./../images/background1.jpg") 


}
.instructions {
    width: 80%;
    width: 390px;
    height: 100px;
    margin: 0 auto;
    font-size: 30px; 
    border: 2px solid black;
    border-radius: 5px;
    background: gray;
    text-align: center;
    box-shadow:10px 11px 20px 0px #6d6b6b;
}
.instructions img {
    width: 34%;
    min-width: 150px;
    height: 100px;
    float: left;
    border-right: 2px solid black;
    border-radius: 5px;
}
.instructions a {
    text-decoration: none;
    color: white;
    text-shadow: 8px 10px 15px black;
    height: 100%;
    width: 100%;
}
.instructions p {
    margin-top: 32px;
    height: 100%;
    width: 100%;
}
.instructions:hover {
    background: white;
    transition: 0.2s;
}
.instructions a:hover {
    color: black;
}
#indexContent {
    width: 50%;
    min-width: 525px;  
    float: left;
    padding-top: 4%;
    text-align: center;
    font-size: 50px;
}
.word {
    margin-top: 55px;
}
.selected {
    font-size: 78px;
    margin: 30px auto;
    color: white;
    text-shadow: 8px 10px 15px black;
    letter-spacing: 5px;
}
.count {
    margin: 30px auto;
}
.guessed {
    min-height: 70px;
}
button {
    width: 150px;
    height: 43px;
    border-radius: 30px;
    font-family: "TheOfficeFont";
    font-size: 24px;
    letter-spacing: 8px;
    background: white;
    text-shadow: 5px 7px 22px black;
    margin-top: 50px;
}
button:hover {
    background: black;
    color: white;
    text-shadow: 2px 2px 5px white;
    transition: 0.3s;
}
.alertDiv {
    width: 50%;
    height: 80%;
    min-height: 690px;
    position: fixed;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    text-align: center;
    margin-top: 5%;
}

.alertDiv img {
    width: 100%;
    height: 100%;
    min-height: 640px;
    float: right;
    border-radius: 10px;
}
.alertDiv h1 {
    position: relative;
    bottom: 98%;
    font-size: 60px;
    /* top: 0; */

}
.alertDiv h2 {
    position: fixed;
    bottom: 45%;
    font-size: 60px;
}
.alertDiv h3 {
    position: relative;
    font-size: 60px;
    bottom: 87%;
    font-size: 40px;
    margin: 0 auto;
}
/* Specific Instruction Styling Page */
.instructionsContent {
    width: 50%;
    font-size: 23px;
    font-family: inherit;
    width: 50%;
    line-height: 37px;
    padding-left: 25px;
    text-shadow: 2px 2px 5px white;

};
.instructionsBody {
    font-size: 23px;
    font-family: inherit;
    width: 50%;
    line-height: 37px;
    padding-left: 25px;
}
ul {
    margin-bottom: 18px;
}
.wins{
    margin-top: 30px;
    color: white;
    text-shadow: 8px 10px 15px black;
}